<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('head') -%>
</head>
<body>
    <div class="row row-cols-sm-1 row-cols-md-3 row-cols-xl-4" id="showsList">
        <% db.forEach(movie => { %>
            <div class="card" style="width: 18rem;">
            <img src="<%= movie.Images[1] %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4 class="card-title"><%= movie.Title %></h4>
                  <h6><%= movie.Year %></h6>
                  <h6><%= movie.Rated %></h6>
                  <p class="card-text"><%= movie.Plot %></p>
                  <button href="/showDetails" class="btn">Details</button>
                  <!-- <button href="/showDetails/<%=db.imdbID %>" class="btn btn-primary">Details</button> -->
                  
                </div>
            </div>
        <% }) %>
</div>
</body>
</html>



